[submodule "external/lz77"]
    path = external/lz77
    url = git@github.com:pdinklag/lz77.git
[submodule "external/sparse-map"]
	path = external/sparse-map
	url = git@github.com:Tessil/sparse-map.git
[submodule "external/fp"]
	path = external/fp
	url = git@github.com:pdinklag/fp.git
[submodule "external/lce"]
	path = external/lce
	url = git@github.com:LukasNalbach/lce.git
